Repository unb-mds/mapadaacessibilidade, pull requests merged in 2025-06, with the labels that each got.

#78 Create script_fisico.sql
  docs/Database/PostgreSQL/script_fisico.sql
Labels: documentation, backend

#92 ⭐Feat: CRUD Acessibilidade Local
  app/backend/src/controllers/acessibilidadeLocalController.js
  app/backend/src/routes/acessibilidadeLocalRouter.js
  app/backend/src/server.js
Labels: enhancement, backend

#93 📚 | documento mostrando como rodar o jest
  Documentação/Estudos/Introdução ao jester.md
  app/backend/package.json
Labels: documentation

#94 Documentação sprint 8
  Documentação/Atas/sprint-8.md
Labels: documentation

#102 Feat: Cors Configurado
  app/backend/package-lock.json
  app/backend/package.json
  app/backend/src/server.js
Labels: infrastructure, backend

#103 Implementação da documentação com o swagger
  Documentação/databases/Backend/doc_swagger.md
  app/backend/API-SWAGGER/swaggerComponents.js
  app/backend/API-SWAGGER/swaggerConfig.js
  app/backend/package.json
  app/backend/src/controllers/locaisController.js
  app/backend/src/routes/acessibilidadeLocalRouter.js
  app/backend/src/routes/acessibilidadeRouter.js
  app/backend/src/routes/locaisRouter.js
  app/backend/src/routes/usuariosRoutes.js
  app/backend/src/server.js
Labels: documentation, backend

#119 Correção de código da página de Adicionar Local
  app/frontend/src/App.jsx
  app/frontend/src/pages/Local.css
  app/frontend/src/pages/Local.jsx
Labels: enhancement, frontend
